.about-features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $background-accent;
  color: $on-dark-text-color;
  padding: 42px 20px 40px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 72px 50px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 100px 50px;
  }
}

.about-features__list {
  display: flex;
  flex-direction: column;
  gap: 22px;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 54px 32px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    font-size: 16px;
    line-height: 24px;
  }
}

.about-features__item {
  padding: 15px 20px;
  margin: 0;
  background-color: $background-accent;
  border: 1px solid $on-dark-text-color;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    width: 253px;
    padding: 16px 20px 15px;
    margin: 0 0 0 20px;
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 484px;
    padding: 30px 40px;
    flex-direction: row;
    align-items: stretch;
    gap: 0;
  }
}


.about-features__item::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 36px;
  height: 26px;
  background-color: $background-accent;
  color: $on-dark-text-color;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.about-features__item::after {
  content: "";
  position: absolute;
  top: -12px;
  left: -8px;
  width: 20px;
  height: 20px;
  background-color: $on-dark-text-color;
  mask-image: url("/__spritemap#sprite-star-icon-view");
  color: $on-dark-text-color;
  mask-repeat: no-repeat;
}


.about-features__item h3 {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 200px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
    width: 201px;
    align-self: center;
  }
}

.about-features__item p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 201px;
    align-self: center;
  }
}
