.about-info {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    gap: 31px;
  }

  @media (min-width: $desktop-width) {
    gap: 30px;
    width: 702px;
    grid-area: heading;
  }
}


.about-info__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  align-self: flex-start;
  color: $extra-text-color;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 50px;
  }
}


.about-info p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 32px;
  }
}

