.about-goal {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    max-width: 498px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    grid-area: goal;
    max-width: initial;
    gap: 40px;
  }
}

.about-goal h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  align-self: flex-start;
  color: $extra-text-color;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
  }
}


.about-goal p {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 20px;


  @media (min-width: $tablet-width) {
    gap: 22px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.about-goal__button {
  width: 223px;
  padding: 0;
  border-radius: 30px;
  border: 1px solid $background-accent;
  color: $extra-text-color;
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 34px;
    height: 34px;
    background-color: $background-accent;
    border-radius: 50%;
    translate: 0 -50%;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    background-color: $button-on-dark;
    mask-image: url("/__spritemap#sprite-pagination-arrow-icon-view");
    border-radius: 50%;
    translate: 0 -50%;
    rotate: -45deg;

    @media (min-width: $tablet-width) {
      right: 21px;
      width: 10px;
      height: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 279px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
  }
}

.about-goal__link {
  padding: 15px 50px 15px 12px;

  @media (min-width: $tablet-width) {
    padding: 20px 79px 20px 29px;
  }
}

.about-goal__button:hover {
  background-color: $background-accent;
  color: $on-dark-text-color;

  &::before {
    background-color: $background-extra;
  }

  &::after {
    background-color: $background-accent;
    transform: rotate(45deg);
  }
}

.about-goal__button:focus {
  &::after {
    transform: rotate(45deg);
  }
}

.about-goal__button:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: $background-accent;

  &::before {
    background-color: $background-extra;
  }

  &::after {
    background-color: $background-accent;
    transform: rotate(45deg);
    opacity: 0.7;
  }
}

.about-goal__button:disabled {
  color: $disabled;
  border-color: $disabled;
  background-color: transparent;

  &::before {
    background-color: $disabled;
  }

  &::after {
    opacity: 0.6;
  }
}
