.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-accent;
  color: $on-dark-text-color;
}

.contacts__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 70px 15px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 31px;

  @media (min-width: $tablet-width) {
    min-height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 100px 45px;
    width: 768px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 1440px;
    padding: 120px 100px;
  }
}

.contacts__title {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.contacts__list {
  padding: 0 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    right: 0;
    background-color: $background-extra;
    opacity: 0.2;

    @media (min-width: $desktop-width) {
      width: 1240px;
      bottom: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: initial;
    padding: 0 0 32px;
  }

  @media (min-width: $desktop-width) {
    gap: 53px;
    width: 604px;
    margin: auto 0 0;
    align-items: flex-start;
    padding: 0 0 51px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  position: relative;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 24px;
  }
}

.contacts__item--email .contact__subtitle {
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 17px;
  }

  &:hover {
    color: $on-dark-text-color;
    opacity: 0.7;
  }

  &:focus {
    color: $main-text-color;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 102%;
      background-color: $main-text-color;
      bottom: -3px;
      left: -2px;

      @media (min-width: $tablet-width) {
        left: 0;
        width: 100%;
      }
    }
  }

  &:active {
    color: $on-dark-text-color;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 102%;
      background-color: $on-dark-text-color;
      bottom: -3px;
      left: -2px;

      @media (min-width: $tablet-width) {
        left: 0;
        width: 100%;
      }
    }
  }
}

.contacts__item--phone .contact__subtitle {
  position: relative;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 17px;
  }

  &:hover {
    color: $on-dark-text-color;
    opacity: 0.7;
  }

  &:focus {
    color: $main-text-color;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 102%;
      background-color: $main-text-color;
      bottom: -3px;
      left: -2px;

      @media (min-width: $tablet-width) {
        left: 0;
        width: 100%;
      }
    }
  }

  &:active {
    color: $on-dark-text-color;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 102%;
      background-color: $on-dark-text-color;
      bottom: -3px;
      left: -2px;

      @media (min-width: $tablet-width) {
        left: 0;
        width: 100%;
      }
    }
  }
}
