.faq {
  width: 100%;
  background-color: $background-main;
  color: $extra-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.faq__wrapper {
  width: 320px;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 50px 45px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 71px 206px 60px;
    gap: 71px;
  }
}

.faq__title {
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 50px;
  }
}

