.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 30px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin: 0 0 5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0 0;
    gap: 30px;
  }
}

.footer-links__link {
  &:hover {
    color: $extra-text-color;
    opacity: 0.7;
  }

  &:focus {
    color: $extra-text-color;
  }

  &:active {
    color: $button-clicked;
  }
}
