.footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 40px 15px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 45px;
    width: 768px;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "logo            menu            socials"
      "confidentiality confidentiality confidentiality";
    grid-template-columns: 52px auto 150px;
    padding: 60px 100px 42px;
    width: 1440px;
    gap: 25px 52px;
    justify-content: initial;
  }
}

.footer__logo {
  width: 52px;
  height: 52px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $on-dark-text-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: logo;
  }
}

.footer__socials {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-left: auto;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-area: socials;
  }
}

.footer__confidentiality {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  flex-wrap: wrap;
  gap: 13px;

  @media (min-width: $tablet-width) {
    max-width: 250px;
    justify-content: flex-start;
    line-height: 12px;
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    grid-area: confidentiality;
    max-width: 100%;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
  }
}

.footer__confidentiality span {
  color: $main-text-color;
  opacity: 0.6;

  @media (min-width: $desktop-width) {
    opacity: 1;
    order: -1;
  }
}

.footer__confidentiality-link {
  opacity: 1;
  color: $main-text-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 102%;
    background-color: $main-text-color;
    bottom: -3px;
    left: -2px;

    @media (min-width: $tablet-width) {
      left: 0;
      width: 100%;
    }
  }

  &:hover {
    color: $extra-text-color;
    opacity: 0.7;

    &::before {
      background-color: $background-accent;
      opacity: 0.7;
    }
  }

  &:focus {
    color: $extra-text-color;

    &::before {
      background-color: $background-accent;
    }
  }

  &:active {
    color: $button-clicked;

    &::before {
      background-color: $button-clicked;
    }
  }
}
