.grant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-accent;
  color: $on-dark-text-color;
  width: 100%;
}

.grant__wrapper {
  padding: 70px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 100px 45px;
    gap: 40px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 120px 100px;
    display: grid;
    grid-template-areas:
      "heading grant"
      "picture grant";
    gap: 40px 32px;
    align-items: start;
    grid-template-rows: min-content 1fr;
  }
}


.grant__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 50px;
  }
}

.grant__info {
  display: flex;
  flex-direction: column;
  gap: 15px;


  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    align-self: start;
    gap: 30px;
    grid-area: heading;
  }
}

.grant__wrapper p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    max-width: 498px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.grant__image {
  grid-area: picture;
  align-self: start;
  max-height: 100%;
  object-fit: cover;
}

.grant__requirements {
  grid-area: grant;
}
