.hero-slide {
  color: $on-dark-text-color;
  min-height: 568px;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero-slide__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 568px;
  position: absolute;
  padding: 100px 15px 20px;
  bottom: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
    padding: 0 64px 60px 45px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
    padding: 0 0 60px 100px;
  }
}

.hero-slide__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  margin-top: auto;
  z-index: 10;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "header    header"
      "paragraph button";
    max-width: 659px;
    grid-template-columns: 355px auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 968px;
    grid-template-columns: 526px auto;
  }
}

.hero-slide__header {
  color: $extra-text-color;
  background-color: $on-dark-text-color;
  border-radius: 0 14px 14px 0;
  padding: 20px 33px 15px 14px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  position: relative;
  max-width: 290px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
    max-width: 659px;
    padding: 31px 40px 23px;
    grid-area: header;
    border-radius: 0 30px 30px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
    padding: 40px 50px 30px;
    max-width: 968px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: $background-extra;
    mask-image: url("/__spritemap#sprite-angle-icon-view");
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      right: -18px;
      width: 18px;
      height: 18px;
    }
  }
}

.hero-slide p {
  color: $main-text-color;
  background-color: $on-dark-text-color;
  border-radius: 0 0 14px;
  padding: 1px 14px 15px;
  max-width: 267px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    max-width: 659px;
    padding: 0 40px 35px;
    grid-area: paragraph;
    border-radius: 0 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
    padding: 0 50px 35px;
    max-width: 968px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px;
    height: 10px;
    background-color: $background-extra;
    mask-image: url("/__spritemap#sprite-angle-icon-view");
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      right: -26px;
      width: 26px;
      height: 26px;
    }

    @media (min-width: $desktop-width) {
      right: -18px;
      width: 18px;
      height: 18px;
    }
  }
}

.hero-slide__button-wrapper {
  padding: 10px 15px;
  max-width: 184px;
  background-color: $background-extra;
  border-radius: 0 0 14px 14px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 238px;
    border-radius: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 249px;
    padding: 10px 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px;
    height: 10px;
    background-color: $background-extra;
    mask-image: url("/__spritemap#sprite-angle-icon-view");
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      right: -26px;
      width: 26px;
      height: 26px;
    }

    @media (min-width: $desktop-width) {
      right: -18px;
      width: 18px;
      height: 18px;
    }
  }
}

.hero-slide__button {
  width: 154px;
  padding: 16px 55px 14px 17px;
  border-radius: 30px;
  border: 1px solid $button-on-light;
  background-color: transparent;
  color: $extra-text-color;
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 34px;
    height: 34px;
    background-color: $background-accent;
    border-radius: 50%;
    translate: 0 -50%;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
    }

    @media (min-width: $desktop-width) {
      right: 5px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 8px;
    height: 8px;
    background-color: $button-on-dark;
    mask-image: url("/__spritemap#sprite-pagination-arrow-icon-view");
    border-radius: 50%;
    translate: 0 -50%;
    rotate: -45deg;

    @media (min-width: $tablet-width) {
      right: 21px;
      width: 10px;
      height: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 20px 79px 20px 29px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
    grid-area: button;
    width: 198px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 68px 21px 17px;
    width: 199px;
  }
}

.hero-slide__button:hover {
  background-color: $button-on-light;
  color: $on-dark-text-color;

  &::before {
    background-color: $background-extra;
  }

  &::after {
    background-color: $button-on-light;
    transform: rotate(45deg);
  }
}

.hero-slide__button:focus {
  &::after {
    transform: rotate(45deg);
  }
  outline: none;
}

.hero-slide__button:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: $background-accent;

  &::before {
    background-color: $background-extra;
  }

  &::after {
    background-color: $background-accent;
    transform: rotate(45deg);
    opacity: 0.7;
  }
}

.hero-slide__button:disabled {
  color: $disabled;
  border-color: $disabled;
  background-color: transparent;

  &::before {
    background-color: $disabled;
  }

  &::after {
    opacity: 0.6;
  }
}

.hero .hero-swiper .hero-swiper__swiper-pagination {
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 15px;
  width: 80px;
  height: 28px;
  background-color: $button-on-dark;
  border-radius: 12px 12px 0 0;

  @media (min-width: $tablet-width) {
    width: 100px;
    height: 40px;
    padding: 11px 0;
    left: 45px;
    border-radius: 20px 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    left: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 10px;
    background-color: $background-extra;
    mask-image: url("/__spritemap#sprite-angle-icon-view");

    @media (min-width: $tablet-width) {
      right: -26px;
      width: 26px;
      height: 26px;
    }

    @media (min-width: $desktop-width) {
      right: -18px;
      width: 18px;
      height: 18px;
    }
  }
}

.hero-swiper__swiper-pagination .swiper-pagination-bullet {
  border: 2px solid $button-on-light;
  background-color: $button-on-dark;
  opacity: 1;
  width: 8px;
  height: 8px;
  z-index: 100;

  --swiper-pagination-bullet-horizontal-gap: 6px;

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 12px;
  }
}

.hero-swiper__swiper-pagination .swiper-pagination-bullet-active {
  background-color: $button-clicked;
  border-color: $button-clicked;
}

.swiper-pagination-bullet:hover {
  background-color: $button-on-light;
  opacity: 0.7;
  border: 2px solid $button-on-dark;
}

.swiper-pagination-bullet:focus {
  background-color: $button-on-light;
  border: 2px solid $button-on-light;
  outline: none;
}

.swiper-pagination-bullet:active {
  background-color: $button-clicked;
  opacity: 1;
}

.hero-slide__img {
  width: 100%;
  height: auto;
}
