.hero {
  overflow: hidden;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  width: 320px;
  overflow: visible;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 50px 45px;
    gap: 30px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    gap: 49px;
    padding: 124px 120px 100px;
    width: 1440px;
  }
}

.hero__header {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $extra-text-color;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin: 0;
  }
}


.hero__swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}


.hero .hero-swiper-container__buttons {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 4px;
  justify-content: space-between;
  top: 82px;
  right: 49px;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 4px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    top: 17%;
    right: 8%;
    translate: -9px 3px;
  }
}

.hero .hero-swiper-container__button {
  background-color: $button-on-light;
  color: $button-on-dark;
  width: 37px;
  height: 35px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero .hero-swiper-container__button--next {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
    content: "";
    width: 13px;
    height: 9px;
    transform: rotate(180deg);
    mask-image: url("../__spritemap#sprite-long-arrow-icon-view");
    background-color: $button-on-dark;
    background-repeat: no-repeat;
    z-index: 10;
    position: absolute;
  }
}


.hero .hero-swiper-container__button--prev {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
    content: "";
    width: 13px;
    height: 9px;
    mask-image: url("../__spritemap#sprite-long-arrow-icon-view");
    background-color: $button-on-dark;
    background-repeat: no-repeat;
    z-index: 10;
    position: absolute;
  }
}


.hero .hero-swiper-container__button:hover {
  &::after {
    background-color: $button-on-light;
  }
}

.hero .hero-swiper-container__button:focus {
  &::after {
    background-color: $button-on-light;
  }
}

.hero .swiper-button-prev.swiper-button-disabled,
.hero .swiper-button-next.swiper-button-disabled {
  opacity: 100%;
  background-color: $disabled;
}
