.modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-form__label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  opacity: 0.8;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
    gap: 12px;
  }
}

.modal-form__input {
  color: inherit;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgba(72, 72, 72, 0.3);
  min-height: 50px;
  padding: 0 26px;

  &:hover {
    border: 1px solid rgb(72, 72, 72);
  }

  &:focus {
    border: 1px solid rgb(72, 72, 72);
  }

  &:active {
    border: 1px solid rgb(72, 72, 72);
  }
}

.modal-form__input--text-area {
  min-height: 94px;

  @media (min-width: $tablet-width) {
    min-height: 88px;
  }

  @media (min-width: $desktop-width) {
    min-height: 90px;
  }
}

.modal-form__input--city {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.modal-form__label--city {
  @media (min-width: $desktop-width) {
    line-height: 14px;
  }
}

.modal-form__checkbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 210px;
  min-height: 42px;
  padding: 0 0 0 30px;
  opacity: 0.9;
  position: relative;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    min-height: 40px;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 3px 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 12px;
    padding: 3px 0 0 30px;
  }
}

.modal-form__button {
  width: 260px;
  padding: 16px 55px 14px 17px;
  border-radius: 30px;
  border: 1px solid $background-accent;
  color: $extra-text-color;
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  background-color: $background-extra;

  @media (min-width: $tablet-width) {
    padding: 20px 79px 20px 29px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
    width: 194px;
    align-self: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 34px;
    height: 34px;
    background-color: $background-accent;
    border-radius: 50%;
    translate: 0 -50%;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 12px;
    height: 12px;
    background-color: $background-extra;
    mask-image: url("/__spritemap#sprite-pagination-arrow-icon-view");
    border-radius: 50%;
    translate: 0 -50%;
    rotate: -30deg;
  }
}

.modal-form__button:hover {
  background-color: $background-accent;
  color: $on-dark-text-color;

  &::before {
    background-color: $background-extra;
  }

  &::after {
    background-color: $background-accent;
    transform: rotate(30deg);
  }
}

.modal-form__button:focus {
  &::after {
    transform: rotate(30deg);
  }
}

.modal-form__button:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: $background-accent;

  &::before {
    background-color: $background-extra;
  }

  &::after {
    background-color: $background-accent;
    transform: rotate(30deg);
    opacity: 0.7;
  }
}

.modal-form__button:disabled {
  color: $disabled;
  border-color: $disabled;
  background-color: transparent;

  &::before {
    background-color: $disabled;
  }

  &::after {
    opacity: 0.6;
  }
}

.modal-form__input:disabled {
  border-color: rgba(169, 175, 183, 0.5);
  background-color: rgba(169, 175, 183, 0.2);
  cursor: not-allowed;
}

.modal-form__input--error {
  border-color: $error;
  background-color: rgba(255, 94, 102, 0.2);
}

.modal-form__checkbox-input {
  position: absolute;
  width: 200px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  top: 0;
}

.modal-form__checkbox-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $background-accent;
  outline: 1px solid rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;


  @media (min-width: $tablet-width) {
    top: 25%;
  }
}

.modal-form__checkbox-mark::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: $background-extra;
  mask-image: url("/__spritemap#sprite-tick-icon-view");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.modal-form__checkbox-input:checked + .modal-form__checkbox-mark {
  background-color: $background-extra;
}

.modal-form__checkbox-input:checked + .modal-form__checkbox-mark::before {
  background-color: $background-accent;
  opacity: 1;
}

.modal-form__checkbox-input:checked:hover + .modal-form__checkbox-mark {
  outline: 1px solid $background-accent;
  background-color: $background-extra;

  &::before {
    background-color: $background-accent;
    opacity: 1;
  }
}

.modal-form__checkbox:hover .modal-form__checkbox-mark {
  outline: 1px solid $background-accent;
  opacity: 1;
}

.modal-form__checkbox:focus .modal-form__checkbox-mark {
  outline: 1px solid $background-accent;
  opacity: 1;
}

.modal-form__checkbox-input:focus-visible + .modal-form__checkbox-mark {
  outline: 1px solid $background-accent;
}

.modal-form__checkbox-input:disabled + .modal-form__checkbox-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline-color: $background-extra;
  cursor: not-allowed;
}

.modal-form__checkbox-input:checked:disabled + .modal-form__checkbox-mark {
  background-color: $disabled;
  outline: none;
}

.modal-form__checkbox-input:checked:disabled + .modal-form__checkbox-mark::before {
  background-color: $background-extra;
}

.modal-form__checkbox-input:disabled + .modal-form__checkbox-mark::before {
  opacity: 0.3;
}
