.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.navigation__wrapper {
  width: 320px;
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 100;


  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 100px;
    width: 1440px;
  }
}

.navigation__logo {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-extra;
  border-radius: 50%;
  margin-right: auto;
}
