.news-pagination {
  position: absolute;
  width: 100%;
  height: 26px;
  bottom: 49px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 32px;
    bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    bottom: 60px;
  }
}

.pagination-bullet {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: $background-main;
  text-align: center;
  padding: 6px 0;
  line-height: 14px;
  font-size: 14px;
  color: rgba(49, 109, 194, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;


  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    padding: 9px 0;
  }
}

.pagination-bullet:hover {
  background-color: transparent;
  color: $extra-text-color;
  outline: 2px solid $background-accent;
}

.pagination-bullet:focus {
  background-color: $background-extra;
  color: $extra-text-color;
  outline: 2px solid $background-accent;
}

.pagination-bullet:active {
  background-color: $button-clicked;
  color: $on-dark-text-color;
}

.pagination-bullet-active {
  background-color: $background-accent;
  color: $background-extra;
}
