.page-body {
  font-family: $content-font;
  background-color: $background-main;
  min-width: $min-width;
  color: $main-text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: $min-width;
  min-height: 100vh;

  main {
    flex: 1;
  }
}


.page-body--overlay::after {
  content: "";
  position: absolute;
  background-color: $overlay-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
