.programs-slide {
  color: $on-dark-text-color;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 420px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }
}

.programs-slide--internship {
  background-image:
    image-set(
      url("/img/programs/programs-internship-mobile@1x.webp") 1x,
      url("/img/programs/programs-internship-mobile@2x.webp") 2x,
      url("/img/programs/programs-internship-mobile@1x.jpg") 1x,
      url("/img/programs/programs-internship-mobile@2x.jpg") 2x
    );

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("/img/programs/programs-internship-tablet@1x.webp") 1x,
        url("/img/programs/programs-internship-tablet@2x.webp") 2x,
        url("/img/programs/programs-internship-tablet@1x.jpg") 1x,
        url("/img/programs/programs-internship-tablet@2x.jpg") 2x
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("/img/programs/programs-internship-desktop@1x.webp") 1x,
        url("/img/programs/programs-internship-desktop@2x.webp") 2x,
        url("/img/programs/programs-internship-desktop@1x.jpg") 1x,
        url("/img/programs/programs-internship-desktop@2x.jpg") 2x
      );
  }
}

.programs-slide--volunteer {
  background-image:
    image-set(
      url("/img/programs/programs-volunteer-mobile@1x.webp") 1x,
      url("/img/programs/programs-volunteer-mobile@2x.webp") 2x,
      url("/img/programs/programs-volunteer-mobile@1x.jpg") 1x,
      url("/img/programs/programs-volunteer-mobile@2x.jpg") 2x
    );

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("/img/programs/programs-volunteer-tablet@1x.webp") 1x,
        url("/img/programs/programs-volunteer-tablet@2x.webp") 2x,
        url("/img/programs/programs-volunteer-tablet@1x.jpg") 1x,
        url("/img/programs/programs-volunteer-tablet@2x.jpg") 2x
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("/img/programs/programs-volunteer-desktop@1x.webp") 1x,
        url("/img/programs/programs-volunteer-desktop@2x.webp") 2x,
        url("/img/programs/programs-volunteer-desktop@1x.jpg") 1x,
        url("/img/programs/programs-volunteer-desktop@2x.jpg") 2x
      );
  }
}

.programs-slide--study {
  background-image:
    image-set(
      url("/img/programs/programs-study-mobile@1x.webp") 1x,
      url("/img/programs/programs-study-mobile@2x.webp") 2x,
      url("/img/programs/programs-study-mobile@1x.jpg") 1x,
      url("/img/programs/programs-study-mobile@2x.jpg") 2x
    );

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("/img/programs/programs-study-tablet@1x.webp") 1x,
        url("/img/programs/programs-study-tablet@2x.webp") 2x,
        url("/img/programs/programs-study-tablet@1x.jpg") 1x,
        url("/img/programs/programs-study-tablet@2x.jpg") 2x
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("/img/programs/programs-study-desktop@1x.webp") 1x,
        url("/img/programs/programs-study-desktop@2x.webp") 2x,
        url("/img/programs/programs-study-desktop@1x.jpg") 1x,
        url("/img/programs/programs-study-desktop@2x.jpg") 2x
      );
  }
}

.programs-slide__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.programs-slide__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 18px 10px;
  min-height: 100%;
  margin-top: auto;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }


  @media (min-width: $desktop-width) {
    padding: 10px 51px 17px 20px;
  }
}

.programs-slide__title {
  color: $extra-text-color;
  background-color: $on-dark-text-color;
  border-radius: 12px 12px 0 0;
  padding: 18px 35px 6px 18px;
  max-width: min-content;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -18px;
    width: 18px;
    height: 18px;
    background-color: $on-dark-text-color;
    mask-image: url("/__spritemap#sprite-programs-angle-icon-view");

    @media (min-width: $desktop-width) {
      bottom: -1px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 14px;
    padding: 18px 18px 6px;
    min-width: 173px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 17px;
    min-width: 194px;
    padding: 18px 10px 6px 18px;
  }
}

.programs-slide a {
  display: block;
  font-family: inherit;
  text-decoration: none;
  color: $main-text-color;
  background-color: $on-dark-text-color;
  border-radius: 0 12px 12px;
  padding: 13px 77px 14px 18px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 48%;
    right: 18px;
    width: 30px;
    height: 30px;
    background-color: $background-accent;
    border-radius: 50%;
    translate: 0 -50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 28px;
    width: 10px;
    height: 10px;
    background-color: $on-dark-text-color;
    mask-image: url("/__spritemap#sprite-pagination-arrow-icon-view");
    mask-repeat: no-repeat;
    border-radius: 50%;
    translate: 0 -67%;
    rotate: -45deg;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    padding: 12px 70px 15px 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 18px;
    padding: 13px 70px 15px 18px;
    min-height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.programs-slide a:hover {
  &::before {
    background-color: $background-extra;
  }

  &::after {
    background-color: $background-accent;
    transform: rotate(45deg);
  }
}

.programs-slide a:focus {
  &::after {
    transform: rotate(45deg);
  }
}

.programs-slide a:active {
  &::before {
    background-color: $background-extra;
  }

  &::after {
    background-color: $background-accent;
    transform: rotate(45deg);
    opacity: 0.7;
  }
}

.programs-slide a:disabled {
  &::before {
    background-color: $disabled;
  }

  &::after {
    opacity: 0.6;
  }
}
