.review-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0;
  max-width: 130px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    gap: 15px;
    max-width: 162px;
  }
}

.review-author__name {
  color: $extra-text-color;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.review-author__image {
  max-width: unset;
}
