.reviews-slide__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  padding: 30px 15px;
  gap: 25px;

  @media (min-width: $tablet-width) {
    padding: 50px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 45px 51px 50px;
  }
}

.reviews-slide__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  position: relative;
  gap: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 65px;
  }

  @media (min-width: $desktop-width) {
    gap: initial;
    width: 100%;
  }
}

.reviews-slide__program-info {
  display: flex;
  flex-direction: row;
  gap: 25px;

  @media (min-width: $tablet-width) {
    gap: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 auto;
  }
}

.reviews-slide__content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 24px;
  }
}

.reviews-slide__content p:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $extra-text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

.reviews-slide__content p:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $main-text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}
