.subscription {
  padding: 40px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $on-dark-text-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 50px 58px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
    width: 1440px;
  }
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
    image-set(
      url("/img/subscription/form-background-mobile@1x.webp") 1x,
      url("/img/subscription/form-background-mobile@2x.webp") 2x,
      url("/img/subscription/form-background-mobile@2x.jpg") 1x,
      url("/img/subscription/form-background-mobile@2x.jpg") 2x
    );
  padding: 43px 10px 40px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;


  @media (min-width: $tablet-width) {
    padding: 0;
    align-items: flex-start;
    border-radius: 16px;
    background-image:
      image-set(
        url("/img/subscription/form-background-tablet@1x.webp") 1x,
        url("/img/subscription/form-background-tablet@2x.webp") 2x,
        url("/img/subscription/form-background-tablet@1x.jpg") 1x,
        url("/img/subscription/form-background-tablet@2x.jpg") 2x
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("/img/subscription/form-background@1x.webp") 1x,
        url("/img/subscription/form-background@2x.webp") 2x,
        url("/img/subscription/form-background@1x.jpg") 1x,
        url("/img/subscription/form-background@2x.jpg") 2x
      );
  }
}

.subscription__form-wrapper {
  background-color: $background-accent;
  border-radius: 16px;
  padding: 15px 15px 27px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  overflow: visible;

  @media (min-width: $tablet-width) {
    padding: 41px 40px 36px;
    width: 442px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 70px 40px;
    width: 490px;
    gap: 40px;
  }
}

.subscription__info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 31px;
  }

  @media (min-width: $desktop-width) {
    gap: 34px;
  }
}

.subscription__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
  }
}

.subscription__subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}
