.subscription-dropdown {
  position: relative;
  max-width: 100%;
  font-family: "Arial", sans-serif;
  min-height: 52px;
  padding: 0;
  z-index: 10;
}

.subscription-dropdown__button {
  width: 100%;
  padding: 0 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #f0efe9;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  z-index: 100;
}

.subscription-dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  margin-left: auto;
  height: 10px;
  width: 20px;
  background-color: $background-extra;
  mask-image: url("../__spritemap#sprite-dropdown-icon-view");
  mask-size: 16px 8px;
  background-repeat: no-repeat;
  translate: (0 -50%);
  mask-repeat: no-repeat;
  rotate: 0;
  transition: 0.3s ease;
}

.subscription-dropdown > .subscription-dropdown__list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $background-extra;
  outline: 1px solid $background-extra;
  border: none;
  border-radius: 8px;
  display: none;
}

.subscription__form .subscription-dropdown--open .subscription-dropdown__list {
  display: block;
  margin-top: 5px;
  color: $main-text-color;
  background-color: $background-extra;
  opacity: 100%;
  z-index: 1000;
}

.subscription-dropdown__item:first-child {
  display: none;
}

.subscription-dropdown__item {
  padding: 17px;
  cursor: pointer;
  min-height: 48px;
  opacity: 100%;

  &:hover {
    color: $extra-text-color;
  }

  &:active {
    background-color: $background-accent;
    color: $on-dark-text-color;
  }

  &:focus {
    background-color: $background-accent;
    color: $on-dark-text-color;
  }
}

.subscription-dropdown--open .subscription-dropdown__button {
  &::after {
    transform: rotate(-180deg);
    transition: 0.3s ease;
  }
}
