.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subscription-form__label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  opacity: 0.8;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
    gap: 12px;
  }
}

.subscription-form__input {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  min-height: 50px;
  padding: 16px 25px;
  margin-bottom: 8px;
}

.subscription-form__input--text-area {
  min-height: 94px;
  resize: none;

  @media (min-width: $tablet-width) {
    min-height: 88px;
  }

  @media (min-width: $desktop-width) {
    min-height: 90px;
  }
}

.subscription-form__input--city {
  min-height: 52px;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.subscription-form__label--city {
  display: flex;
  gap: 12px;
  opacity: 1;

  @media (min-width: $desktop-width) {
    line-height: 14px;
  }
}

.subscription-form__label--city span:nth-child(1) {
  opacity: 0.8;
  display: block;
}

.subscription-form__checkbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 210px;
  min-height: 42px;
  padding: 0 0 0 30px;
  opacity: 0.9;
  position: relative;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
    max-width: 100%;
    min-height: 40px;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
    font-size: 12px;
    line-height: 12px;
    padding-left: 30px;
  }
}

.subscription-form__checkbox-input {
  position: absolute;
  width: 100%;
  height: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
}

.subscription-form__checkbox-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $background-extra;
  outline: 1px solid rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;


  @media (min-width: $tablet-width) {
    top: 25%;
  }
}

.subscription-form__checkbox-mark::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: transparent;
  mask-image: url("/__spritemap#sprite-tick-icon-view");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.subscription-form__checkbox-input:checked + .subscription-form__checkbox-mark {
  background-color: $background-extra;
}

.subscription-form__checkbox-input:checked + .subscription-form__checkbox-mark::before {
  background-color: $background-accent;
  opacity: 1;
}

.subscription-form__checkbox-input:checked:hover + .subscription-form__checkbox-mark {
  outline: 1px solid $background-extra;
  background-color: $background-accent;

  &::before {
    background-color: $background-extra;
    opacity: 1;
  }
}

.subscription-form__checkbox:hover .subscription-form__checkbox-mark {
  outline: 1px solid $background-extra;
  opacity: 1;
}

.subscription-form__checkbox:focus .subscription-form__checkbox-mark {
  outline: 1px solid $background-extra;
  opacity: 1;
}

.subscription-form__checkbox-input:focus-visible + .subscription-form__checkbox-mark {
  outline: 1px solid $background-extra;
}

.subscription-form__checkbox-input:disabled + .subscription-form__checkbox-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline-color: rgba(255, 255, 255);
  cursor: not-allowed;
}

.subscription-form__checkbox-input:checked:disabled + .subscription-form__checkbox-mark {
  background-color: $disabled;
  outline: none;
}

.subscription-form__checkbox-input:checked:disabled + .subscription-form__checkbox-mark::before {
  background-color: $background-extra;
}

.subscription-form__checkbox-input:disabled + .subscription-form__checkbox-mark::before {
  opacity: 0.3;
}

.subscription-form__checkbox span {
  display: block;
}

.subscription-form__button {
  width: 260px;
  padding: 16px 55px 14px 17px;
  border-radius: 30px;
  border: 1px solid $background-extra;
  color: $on-dark-text-color;
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  background-color: $background-accent;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 34px;
    height: 34px;
    background-color: $button-on-dark;
    border-radius: 50%;
    translate: 0 -50%;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 8px;
    height: 8px;
    background-color: $background-accent;
    mask-image: url("/__spritemap#sprite-pagination-arrow-icon-view");
    border-radius: 50%;
    translate: 0 -50%;
    rotate: -45deg;


    @media (min-width: $tablet-width) {
      right: 21px;
      width: 10px;
      height: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 20px 79px 20px 29px;
    width: 352px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.subscription-form__button:hover {
  background-color: $background-extra;
  color: $extra-text-color;

  &::before {
    background-color: $background-accent;
  }

  &::after {
    background-color: $background-extra;
    transform: rotate(45deg);
  }
}

.subscription-form__button:focus {
  &::after {
    transform: rotate(45deg);
  }
}

.subscription-form__button:active {
  background-color: $background-extra;
  color: rgba(49, 109, 194, 0.7);

  &::before {
    background-color: $background-accent;
  }

  &::after {
    background-color: $background-extra;
    transform: rotate(45deg);
    opacity: 0.7;
  }
}

.subscription-form__button:disabled {
  color: $disabled;
  border-color: $disabled;
  background-color: transparent;

  &::before {
    background-color: $disabled;
  }

  &::after {
    opacity: 0.6;
  }
}

.subscription-form__input:hover,
.subscription-form__input:focus {
  border-color: $on-dark-text-color;
}

.subscription-form__input:disabled {
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: not-allowed;
}

.subscription-form__input--error {
  border-color: $error;
  background-color: rgba(255, 94, 102, 0.2);
}
