// Vendor
// ---------------------------------

@import "vendor/normalize";


// common
@import "./common/variables";
@import "./common/global";
@import "./common/visually-hidden";
@import "./common/mixins";
@import "./common/fonts";


// blocks
@import "./blocks/page-body.scss";
@import "./blocks/main-header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/navigation-menu.scss";
@import "./blocks/hero.scss";
@import "./blocks/hero-slide.scss";
